@model Kursach.Models.Coach.ControleTraining


@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Тренировки</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditTraining">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TrainingId" />
            <div class="form-group">
                <label asp-for="Name">Введите название</label><br />
                <input class="form-control-sm" type="text" asp-for="Name" /><br>
                <span class="badge badge-light" asp-validation-for="Name" />
            </div>
            <div class="form-group">
                <label asp-for="TrainingDuration">Введите длительность</label><br />
                <input class="form-control-sm" asp-for="TrainingDuration" /><br>
                <span class="badge badge-light" asp-validation-for="TrainingDuration" />
            </div>
            <div>
                <label asp-for="GymId">Выберите фитнес-центр:</label><br>
                <select class="form-control " asp-for="GymId" asp-items="Model.Gyms">
                    <option selected="selected" value="">Выберите абонемент</option>
                </select><br>
                <span asp-validation-for="GymId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeOfStarting" class="control-label">Дата начала:</label><br>
                <input type="date" asp-for="TimeOfStarting" class="form-control" /><br>
                <span asp-validation-for="TimeOfStarting" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label">Время начала:</label><br>
                <input type="time" asp-for="Time" class="form-control" /><br>
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-controller="Coach" asp-action="ControleTraining">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}