@model Kursach.Models.Admin.EditUser


<div class="container d-flex justify-content-center">

    <form asp-action="AddUser" asp-controller="Admin" asp-anti-forgery="true">
        <h2>Регистрация</h2>
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div>
            <div class="form-group">
                <label asp-for="Login">Введите логин</label><br />
                <input class="form-control-sm" type="text" asp-for="Login" /><br>
                <span class="badge badge-light" asp-validation-for="Login" />
            </div>
            <div class="form-group">
                <label asp-for="LastName">Введите Фамилию</label><br />
                <input class="form-control-sm" asp-for="LastName" /><br>
                <span class="badge badge-light" asp-validation-for="LastName" />
            </div>
            <div class="form-group">
                <label asp-for="FirstName">Введите Имя</label><br />
                <input class="form-control-sm" asp-for="FirstName" /><br>
                <span class="badge badge-light" asp-validation-for="FirstName" />
            </div>
            <div class="form-group">
                <label asp-for="Patronymic">Введите Отчество</label><br />
                <input class="form-control-sm" asp-for="Patronymic" /><br>
                <span class="badge badge-light" asp-validation-for="Patronymic" />
            </div>
            <div class="form-group">
                <label asp-for="PassportData">Введите паспортные данные</label><br />
                <input class="form-control-sm" asp-for="PassportData" /><br>
                <span class="badge badge-light" asp-validation-for="PassportData" />
            </div>
            <div class="form-group">
                <label asp-for="RoleId" class="control-label"></label><br>
                <input asp-for="RoleId" class="form-control" /><br>
                <span asp-validation-for="RoleId" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="MemberTicketId">Выберите абонемент:</label><br>
                <select class="form-control " asp-for="MemberTicketId" asp-items="Model.MemberTickets">
                    <option selected="selected" value="">Выберите абонемент</option>
                </select><br>
                <span asp-validation-for="MemberTicketId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConclusionDate" class="control-label">Дата начала действия абонемента:</label><br>
                <input type="date" asp-for="ConclusionDate" class="form-control" /><br>
                <span asp-validation-for="ConclusionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">Введите пароль</label><br />
                <input class="form-control-sm" asp-for="Password" /><br>
                <span class="badge badge-light" asp-validation-for="Password" />
            </div>

            <div class="form-group">
                <input class="btn btn-light" type="submit" value="Регистрация" />
            </div>
        </div>
    </form>
</div>

@section scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}