@model Kursach.TrainingRegistration[]

<div class="container justify-content-center">
    <h2 class="h4 mb-3">Мои тренировки</h2>

    <p><a asp-controller="Client" asp-action="ShowListTraining">Показать список моих тренировок</a></p>
    <p><a asp-controller="Client" asp-action="RegisterOnTraining">Записаться на тренировку</a></p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Название тренировки
                </th>
                <th>
                    Название центра
                </th>
                <th>
                    Время начала
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var training in Model)
            {
                <tr>
                    <td>@training.Training.Name </td>
                    <td>@training.Training.Gym?.Name</td>
                    <td>@training.Training.TimeOfStarting </td>
                    <td>
                        <form method="post">
                            <button type="submit" class="btn btn-light" asp-controller="Client" asp-action="DeleteTrainingRegistration" asp-route-id="@training.TrainingId">
                                Удалить
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>